<div class="contents-container" id="video-container">
    <h3>{{ video.title }}</h3>
    <iframe class="video-player" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
    <p>{{ video.description }}</p>
</div>
